@model Micro.Aplicacao.DTOs.ProgramaDTO

<h3>Deletar Programa</h3>

<h4>Tem certeza que deseja excluir o programa?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Potencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrucoes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aquece)
        </dd>
    </dl>

    <form asp-action="Deletar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Voltar para Lista</a>
    </form>
</div>